* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(230, 230, 230);
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.part1 img {
    width: 350px;
    border: 1px solid #e62c0b;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 15px -10px rgb(206, 86, 30);
}

.part1 {
    display: flex;
    position: relative;
    margin: 20px;
}

.part2 {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
    margin: 20px;
    width: 50%;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background-color: #e62c0b;
    color: white;
    text-decoration: none;

}

.part2 a i {
    color: white;
    text-decoration: none;
    font-size: medium;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: white;
    border: #e62c0b 1px solid;
    border-radius: 15px;
    width: 60%;
}

.inf1 p {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
    font-weight: bold;
}

.inf1 h3 {
    margin: 15px;
}

.inf2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}

.user {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    text-align: start;
}

.inf3 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}

.inf3 input {
    background-color: #eee;
    border: #e62c0b 1px solid;
    border-radius: 15px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 10%;
}

.inf3 button {
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #e62c0b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 15px;
}

.inf3 button:active {
    transform: scale(0.95);
}

.inf3 button:focus {
    outline: none;
}

.content2 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content2 h2 {
    margin: 15px;
    text-decoration: underline;
}

.content2 p {
    margin: 15px;
}


.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    position: relative;
    width: 370px;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 15px;
}

.card-title {
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

.card img {
    display: flex;
    position: relative;
    width: 320px;
    border-radius: 15px;
    border: solid 1px black;
    justify-content: center;
    align-content: center;
}

.card-body {
    display: flexbox;
    flex-direction: column;
    position: relative;
    justify-content: start;
}

.card-comments {
    display: flex;
    position: relative;
    justify-content: start;
    margin: 10px 10px 10px 20px;
}

.card-date {
    display: flex;
    position: relative;
    justify-content: end;
    margin: 10px 20px 10px 10px;
}

.card-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin: 15px;
    text-decoration: none;
}

.btn2 {
    background-color: #d1514d; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    margin-right: 20px;
}

.btn3 {
    color: white; 
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    margin: 15px;
}

/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 15px;
    }

    .part2 {
        width: 70%;

    }

    .part3 {
        width: 50%;
    }

}

@media screen and (max-width:580px) {
    html {
        font-size: 12px;
    }

    .part2 {
        width: 55%;
        flex-direction: column;
    }

    .part3 {
        width: 60%;
    }

    .container {
        flex-direction: column;
    }
}