* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(230, 230, 230);
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.part1 img {
  width: 350px;
  border: 1px solid #e62c0b;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 15px -10px rgb(206, 86, 30);
}

.part1 {
  display: flex;
  position: relative;
  margin: 20px;
}

.part2 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 20px;
  margin: 20px;
  width: 70%;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  background-color: #e62c0b;
  color: white;
  text-decoration: none;

}

.part2 a i {
  color: white;
  text-decoration: none;
  font-size: medium;
  margin: 5px;
}

.part3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 40%;
  margin: 20px;
  padding: 17px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #e62c0b;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container h1{
  margin: 20px;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  position: relative;
  width: 370px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.card-title {
  text-decoration:underline;
  text-align: center;
}

.card img {
  display: flex;
  position: relative;
  width: 320px;
  border-radius: 15px;
  border: solid 1px black;
  justify-content: center;
  align-content: center;
}

.card-body{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 20px 20px 20px;
}

.card-title{
  margin-bottom: 5px;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  margin: 15px;
}

.card-text {
  display: flex;
  position: relative;
  justify-content: start;
  margin-bottom: 10px;
}

.card-date {
  display: flex;
  position: relative;
  justify-content: end;
  margin-bottom: 10px;
}

/* Responsive*/

@media screen and (max-width:750px) {
  html {
    font-size: 15px;
  }

  .part2 {
    width: 70%;

  }

  .part3 {
    width: 50%;
  }

}

@media screen and (max-width:580px) {
  html {
    font-size: 12px;
  }

  .part2 {
    width: 55%;
    flex-direction: column;
  }

  .part3 {
    width: 60%;
  }

  .container {
    flex-direction: column;
  }
}