* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;
}

.img {
  width: 350px;
  border: 1px solid #e62c0b;
  padding: 20px;
  border-radius: 15px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  margin: 10px;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
  margin: 5px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #e62c0b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin: 15px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 85%;
  height: 650px;
  border: 1px solid rgb(8, 8, 8);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  text-align: center;
  border-radius: 15px;
}

.overlay-container {
  width: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  background-color: #f57308;
  border-radius: 0 15px 15px 0;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  margin: 15px;
}

/* Responsive*/

@media screen and (max-width:750px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width:580px) {
  html {
    font-size: 12px;
  }

  .container {
    flex-direction: column;
  }

  .form-container {
    width: 100%;
  }

  .overlay-container {
    width: 100%;
    border-radius: 0 0 15px 15px;
  }
}