* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #f57308;
    border-radius: 15px;
    justify-content: center;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    width: 60%;
}

.container h2 {
    text-decoration: underline;
}

.forml {
    display: flex;
    position: relative;
    margin: 20px;
    width: 100%;
    justify-content: center;
    gap: 15px;
}

.forml2 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

form input {
    background-color: #eee;
    border: 1px solid #e62c0b;
    padding: 12px 15px;
    margin: 8px 0;
    width: 35%;
    border-radius: 5px;
}

.btn {
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #e62c0b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 15px;
}
.toRight {
    display: flex;
    position: relative; 
    width: 100%;
    justify-content: end;
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    margin: 15px;
}

/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 15px;
    }
    .container{
        width: 80%;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 12px;
    }
    .container{
        width: 100%;
    }
}